.co_lines {width: 100%;position: relative;margin:10px 0;}
.co_lines .img{width:30%;margin:10px 35%;position:relative}
.co_lines .img img{width:100%;}
.co_lines .img input[type=text]{width:100%;padding:5px 0;margin:3px 0}
.co_lines .img a{position:absolute;right:0;top:0;z-index:2;width:29px;line-height:29px;text-align:center;background-color:#000;color:#fff}
.co_lines .zag_for{width:100%;padding:5px 0;}
.co_lines textarea{width:100%;min-height:70px}
 .add {margin:10px 0;padding:5px 15px;background:#eee}

 .texts select{width:100%;padding:5px 0;margin-bottom:20px}
 .co_lines {width:100%;margin:5px 0;}

 .table-general .add-to-top,.table-general .add-to-bot {width: 100%;margin:1px 0;text-align: center;height: 11.5px;line-height: 11.5px;}
 .delete-row {padding: 0 5px;}
.add-to-left, .delete-col, .add-to-right{padding: 5px;}
.co_lines table input {width:100px;margin:0;padding:5px}
.co_lines .before_send{width: 100%;text-align: center;padding: 10px 0;display: none;}
.content_upload_result{width: 100%;}
.content_upload_result table{width: 100%;}
.content_upload_result table td {padding: 10px;}
.content_upload_result td:first-child{width: 100px;}
.content_upload_result table input {padding: 5px;width: 100%;}
.content_upload_result .upload-img-cancel {color:#df0000;font-size: 14px;}
.content_upload_result table img{width: 100px;}
.del-block {position: absolute;right: -30px;top:0;width: 30px;line-height: 30px;color:#df0000;font-size: 20px;text-align: center;}
.gallery_content_block >span {line-height: 29px;margin-right: 5px;font-size: 14px;}
.gallery_count_line {width: 10%;margin-bottom: 5px;padding: 5px 0;text-align: center;}
.gallery_content_block > .gallery_content {float:right;padding: 5px;width: 45%;}
.gallery-content-block a {overflow:hidden;position: relative;width: 18%;margin:5px .5%;}
.gallery-content-block a span{position: absolute;left:0;bottom:5px;padding: 5px 20px;background: rgba(0,0,0,.7);color:#fff;}
.gallery-content-block img {width: 100%;}

.add .tooltip {min-width: 100px;}