a{color:#0866c6;font-size:12px;cursor:pointer}
::-webkit-input-placeholder {font-size:12px;opacity:.9}
::-moz-placeholder          {font-size:12px;opacity:.9}
:-moz-placeholder           {font-size:12px;opacity:.9}
:-ms-input-placeholder      {font-size:12px;opacity:.9}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
a:hover{text-decoration: none;}
.clr-10{height: 5px;}
body{background-color:#f2f2f2;padding:0 !important;}
.header{background-color:#0866c6;padding: 10px 0;}
.logo{text-align:center; }
.logo span{color:#FFF;font-size:30px;text-align:center; margin-top:0;}
.logo p{color:#FFF;font-size:14px;text-align:center; margin:0px;padding: 0;}
.left-admin-nav {background-color:#282828;}
.left-admin-nav a{color: #999;    border-bottom: 1px solid #232323;padding: 12px !important;}
.left-admin-nav li.active a{color: #fff;   background:#0866c6;}
.left-admin-nav li:hover a{color:#fff;background: #2c2c2c;}
.left-admin-nav li.active a{background: #0866c6;}
.exit{margin-top:15px}
.navbar-toggle { border: none;background: #232323;}
.navbar-toggle:hover { background: #2c2c2c !important;}
.navbar-toggle .icon-bar { width: 22px; -webkit-transition: all 0.2s; transition: all 0.2s; background-color: #999;}
.navbar-toggle .icon-bar:nth-of-type(1) {  -webkit-transform: rotate(45deg);  -ms-transform: rotate(45deg);
  transform: rotate(45deg);  -webkit-transform-origin: 10% 10%;  -ms-transform-origin: 10% 10%;  transform-origin: 10% 10%;}
.navbar-toggle .icon-bar:nth-of-type(2) {  opacity: 0;  filter: alpha(opacity=0);}
.navbar-toggle .icon-bar:nth-of-type(3) {  -webkit-transform: rotate(-45deg);  -ms-transform: rotate(-45deg);  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;  -ms-transform-origin: 10% 90%;  transform-origin: 10% 90%;}
.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {  -webkit-transform: rotate(0);  -ms-transform: rotate(0);  transform: rotate(0);}
.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {  opacity: 1;  filter: alpha(opacity=100);}
.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {  -webkit-transform: rotate(0);  -ms-transform: rotate(0);  transform: rotate(0);}
.main-content{background: #fff;padding-bottom: 20px;}
.alert {font-size: 12px;}
.breadcrumb {background:none;font-size: 12px;margin-bottom:0}
h1 {width: 100%;line-height: 35px; background-color: #282828; color: #FFF;margin: 0;  font-weight: normal;padding: 0;font-size: 15px;}
.create{margin:20px 0;}
.clr{height: 20px;}
.news-table  td,.news-table th,.products-table th,.products-table td,.service-table th,.service-table td,.users-table td,.users-table th {vertical-align: middle !important}
.news-table td,.news-table th,.products-table th,.service-table th,.users-table th{text-align: center;font-size: 12px;}
.news-table td a,.products-table td:last-child a,.service-table td:last-child a{margin-right: 5px;font-weight: normal;}
.news-table tr:first-child,.products-table tr:first-child,.service-table tr:first-child,.users-table tr:first-child {background: #eee;}
.news-table th,.products-table th,.service-table th,.users-table th {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */}
.form-create textarea {height: 100px;}

.categories {float:left;width: 100%;margin:20px 0;padding: 0;list-style:none;}
.categories ul {float:left;width: 95%;margin-left:5%;list-style:none;display:none;padding: 0;}
.categories li {float:left;width: 100%;}
.categories li:first-child > a {float:left;}
.categories li > div {padding: 7px 1%;float:left;width: 98%;border-radius:2px;margin:3px 0;}
.categories > li div > a{float:left;width: 3%;min-width: 20px;}
.categories > li div > span{float:left;width: 75%;color:#333;font-size: 14px;line-height: 20px;white-space: nowrap;text-overflow:ellipsis;overflow:hidden;text-align: left;cursor: move;}
.categories span,.categories a{float:left;line-height: 20px;}
.categories a {text-align: center;line-height: 20px;}
.categories li:not(.create-category) > a > i {float:left;width: 100%;text-align: center;line-height: 20px;}
.categories li.create-category > a > i {float:left;text-align: center;line-height: 20px;font-size: 10px;padding-right: 5px;}
.delete-category,.edit{float: right !important;}

.load-full-page {position: absolute;left:0;top:0;z-index:99999;background: rgba(255,255,255,.6);width: 100%;height: 100%;display:none}
.load-full-page i {position: absolute;width: 100px;left:50%;top:50%;margin-left:-50px;margin-top:-15px;text-align: center;}
.tooltip {min-width: 300px;}
.products-table .tooltip {width: 100px;min-width: 100px;}
.news-form-create .alert{padding-top: 10px;padding-bottom: 10px;}
.form-group em {color:#df0000}
.products-table td img {height: 30px;padding: 0 5px 0 0;}

.products-table td:first-child,.products-table td:nth-child(2){width: 30px;text-align: center;}
.products-table td:nth-child(2) a{border-radius:50%}
.products-table td:nth-child(3) {width: 50px;}
.products-table td:first-child,.products-table td:nth-child(2),.products-table td:nth-child(3),.products-table td:nth-child(4) {font-size: 12px;}
.products-table td:not(:nth-child(4)) {text-align: center;}
.products-table td:nth-child(5),.products-table th:nth-child(5) {width: 90px;}
.products-table td:last-child{width: 120px;}
.products-table td:last-child a{margin-bottom:5px}
.products-table i {font-size: 10px;}
.products-table input {text-align: center;font-size: 12px;}

.filters-button {position: absolute;right: 0;top:120px}
.filters {position: absolute;right: -100%;top:120px;z-index: 40;}
.filters > ul ul {display:none}
#add-color,#add-size{margin-top:10px}
.form-group .col-xs-10 {padding-left:0;}
.news-form-create select{margin-bottom: 5px;}
.news-form-create input[type=color] {padding: 0;border:none;margin:0;width: 50px;}
.image-item{margin-top: 15px;}
.image-item a {position: absolute;top:0;z-index: 2;}
.image-item a.delete-image {right: 15px;}
.image-item a.image-rotate {left: 15px;}
.image-item img {position: relative;z-index: 1;}
.show-next{cursor: pointer;line-height: 16px;color:#333;margin-right: 3px;}
.categories-filter {width: 100%;margin:0;padding: 0;list-style:none}
.categories-filter ul {width: 95%;margin:0 0 0 5%;padding: 0;list-style:none;display:none}
.categories-filter li{position: relative;padding: 3px 5%;}
.categories-filter ul li a{position: relative;line-height: 16px;max-width: 110px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap}
.categories-filter li.active > a{text-decoration: underline;color:#111}
.categories-filter ul li:before{content:'';width: 1px;left:0;top:0;position: absolute;height: 100%;background: #999;}
.categories-filter ul li:last-child:before{content:'';width: 1px;left:0;top:0;position: absolute;height: 13px;background: #999;}
.categories-filter ul li:after{content:'';width: 4%;height:1px;left:0;top:13px;margin-top:-.5px;position: absolute;background: #999;}
.pagination {margin:7px 0}
.service-table td:first-child{width: 30px;text-align:center}
.service-table td:nth-child(2){width: 30px;text-align:center}
.service-table td:nth-child(2) a{cursor: move;}
.service-table td:nth-child(1) a{border-radius:50%}
.service-table td:nth-child(3) {width: 50px;}
.service-table td:first-child,.service-table td:nth-child(2),.service-table td:nth-child(3),.service-table td:nth-child(4),.service-table td:nth-child(5) {font-size: 12px;}
.service-table td:not(:nth-child(4)) {text-align: center;}

.service-table i {font-size: 10px;}

.users-table {font-size: 12px;text-align: center;}
.users-table td:first-child{font-weight: bold;}
.users-table td .tooltip,.orders-table td .tooltip {width: 140px !important;min-width: 140px;}
.orders-table td:first-child a{text-decoration: none;}
.statuses .btn-group button:first-child i {font-size: 10px !important;}
.orders-table textarea {font-size: 12px;height: 50px;}

.order-item-table {margin-bottom: 0;}
.order-item-table img {width: 50px;}
.order-items-table td:first-child {text-align: left;}
.order-items-table img {width: 40px;padding-right: 10px;}
.order-items-table td:nth-child(4){width: 20px;}
.order-items-table div{width: 20px;height: 20px;}

.general-table {vertical-align: middle;    vertical-align: middle;
    display: block;
    overflow: scroll;
    overflow: auto;}
.color-active {display: block;width: 50px;height: 28px;border:1px solid #999}
.color-icon-mod {display: block;border:1px solid #999;width: 20px;height: 20px;float:left;margin-right: 5px;margin-bottom: 5px;padding: 2px;}
.color-icon-mod:hover{border-color:#222}

#treeview ul {list-style:none;margin:0;padding: 0;float:left;}
#treeview ul li ul {margin-left:7%;width: 93%;display:none;}
#treeview ul li {position: relative;width: 100%;float:left;}
#treeview ul li > div {position: relative;width: 100%;float:left;padding: 5px 0;}
#treeview li a,#treeview li span,#treeview li input{float:left;;}
#treeview li a {width: 18px;height: 18px;line-height: 17px;font-size: 13px;padding: 0;text-align: center;border:1px solid #ccc;color:#111}
#treeview li input {margin:2.5px 10px;}
#treeview li span {line-height: 18px;}

#treeview ul li ul li:before{content:'';width: 1px;left:-7%;top:0;position: absolute;height: 100%;background: #ccc;}
#treeview ul li ul li:last-child:before{content:'';width: 1px;left:-7%;top:0;position: absolute;height: 13px;background: #ccc;}
#treeview ul li ul li:after{content:'';width: 4%;height:1px;left:-7%;top:13px;margin-top:-.5px;position: absolute;background: #ccc;}
.form-error{display:none;}
.notice-container {position: fixed;left:50%;width:170px;margin-left:-135px;top:0;z-index: 20;}
input[type=submit] {outline: none;}
#clear {float: right;}
.price-save-message {float:left;width:100%;margin-top:5px;background: #FFF;text-align: center;padding: 8px 50px;box-sizing: content-box;border-radius:2px;box-shadow:0 1px 5px rgba(0,0,0,.4);z-index: 20;}
.price-save-message i {float:left;box-sizing: content-box;color:#fff;width: 14px;line-height: 14px;text-align: center;height: 14px;border-radius:20px;font-size: 8px;margin-right: 5px;}
.price-save-message .fa-check {background: #088f05;}
.price-save-message .fa-times {background: #df0000;}
.price-save-message span{color:#666;font-size: 12px;line-height: 14px;float:left;width:150px;text-align: center;}
.close-modal-top {position: absolute;right: 5px;top:20px;line-height: 16px;}
.change_visible {width: 22px;text-align: center;}
@media (max-width: 767px) 
{
	.categories > li div > span {max-width: 150px;}
}

.review-table img {float:left;width: 40px;padding-right: 10px}
.review-table th {text-align: center}
.review-table td:nth-child(1) {font-weight: bold;text-align: center}
.review-table td:nth-child(3) {max-width: 150px;font-size: 12px}
.review-table td:nth-child(4) {text-align: center}
.review-table td:nth-child(5) {text-align: center;font-size: 12px}
.review-table td:nth-child(6) {text-align: center;font-size: 12px}
.review-table td:nth-child(7) {width: 200px}
.review-table .alert {padding:5px;margin-top:5px;}
.review-table td:last-child {vertical-align: middle;text-align: center}

.pages-table {font-size: 12px;}
.pages-table td:first-child {width:30px;}
.pages-table td:first-child a.btn.btn-xs.btn-default{margin-right:0}
.pages-table td:last-child a{float:right;margin-right:5px;margin-left:0}

/* Admin general-page(contactsInfo tab) */
.phones-container .row {margin-bottom: 4px;}
.contact-item {display: inline-block; border: 1px solid transparent; transition: background-color .2s ease-in-out; min-width: 35px; height: 35px; position: relative; top: -2px; border: 1px solid #efefef; margin-right: 10px;}
.contact-item.active {display: inline-block; background: #7cd63e3b; transition: background-color .2s ease-in-out; border-color: #7cd63e3b;}
.contact-item span.title {display: none;}
.phones {width: calc(50% - 5px); display: inline-block; margin-right: 5px;}
.phones:last-child {margin-right: 0;}
.icon {height: 20px; width: 20px; display: inline-block; background-position: center center; background-size: contain; background-repeat: no-repeat; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.icon-viber {background-image: url('../images/admin_icons/viber_icon.png'); width: 20px;}
.icon-mts {background-image: url('../images/admin_icons/mts_icon.png'); width: 20px;}
.icon-velcom {background-image: url('../images/admin_icons/velcome_icon.png'); width: 25px;}
.icon-life {background-image: url('../images/admin_icons/life_icon.png'); width: 25px;}
.icon-whatsapp {background-image: url('../images/admin_icons/whatsapp_icon.png'); width: 20px;}

.hide-checkbox {opacity: 0; width: 0; height: 0;}

.emails .row {margin-bottom: 5px;}

/* Add articles, news, services to product */
.add.added {color: #ffffff; background-color: rgba(46, 164, 10, 0.6);}
#related_category_list, #related_product_list {margin-top: 15px;}
.row-hidden {display: none;}
input.related_categories {margin-left: 10px;}
img.rotate {
    transform: rotate(180deg);
}
li.catalog__pages_current a {
    background: #0866c6;
    color: #fff;
}
li.catalog__pages_current a:hover {
    background: #0866c6;
    color: #fff;
}
.modal .table > thead > tr > td.active,
.modal .table > tbody > tr > td.active,
.modal .table > tfoot > tr > td.active,
.modal .table > thead > tr > th.active,
.modal .table > tbody > tr > th.active,
.modal .table > tfoot > tr > th.active,
.modal .table > thead > tr.active > td,
.modal .table > tbody > tr.active > td,
.modal .table > tfoot > tr.active > td,
.modal .table > thead > tr.active > th,
.modal .table > tbody > tr.active > th,
.modal .table > tfoot > tr.active > th {
    background-color: #2e6da4;
    color: #fff;
}

.loader {
    position: relative;
    width: 100px;
    z-index: 99;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-perspective: 780px;
    perspective: 780px;
}

.loader-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.loader-inner.box1 {
    left: 0%;
    top: 0%;
    animation: cssload-rotate-one 1.15s linear infinite;
    -o-animation: cssload-rotate-one 1.15s linear infinite;
    -ms-animation: cssload-rotate-one 1.15s linear infinite;
    -webkit-animation: cssload-rotate-one 1.15s linear infinite;
    -moz-animation: cssload-rotate-one 1.15s linear infinite;
    border-bottom: 3px solid #5C5EDC;
}

.loader-inner.box2 {
    right: 0%;
    top: 0%;
    animation: cssload-rotate-two 1.15s linear infinite;
    -o-animation: cssload-rotate-two 1.15s linear infinite;
    -ms-animation: cssload-rotate-two 1.15s linear infinite;
    -webkit-animation: cssload-rotate-two 1.15s linear infinite;
    -moz-animation: cssload-rotate-two 1.15s linear infinite;
    border-right: 3px solid rgba(76, 70, 101, 0.99);
}

.loader-inner.box3 {
    right: 0%;
    bottom: 0%;
    animation: cssload-rotate-three 1.15s linear infinite;
    -o-animation: cssload-rotate-three 1.15s linear infinite;
    -ms-animation: cssload-rotate-three 1.15s linear infinite;
    -webkit-animation: cssload-rotate-three 1.15s linear infinite;
    -moz-animation: cssload-rotate-three 1.15s linear infinite;
    border-top: 3px solid #e9908a;
}

@keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.bg_loader {
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(255, 255, 255, .7);
    position: fixed;
    display: none;
    top: 0;
}
.form-control-feedback {
    top: 25px;
    right: 15px;
}
.tree_btn {
    margin: auto 5px;
}
.show-next {
    color: #fff;
}
.menu_collapse li, .menu_collapse li a {
    width: 100%;
}

.menu_collapse ul {
    padding-left: 10px;
}
.has-error .ant-select-selection, .help-block {
    border-color: #a94442 !important;
    color: #a94442;
}
span.bridge {
    float: right;
    background: #f00;
    color: #000;
    padding: 5px;
    border-radius: 50px;
    font-size: 9px;
    position: absolute;
    right: 15px;
    min-width: 22px;
    text-align: center;
}