.questions_container > .question_item > .question_name:before
{
	font-family:'icomoon' !important;
	content:"\e904";
	color:#a0a0a0;
	width:20px;
	height:20px;
	text-align:center;
	border:3px solid #a0a0a0;
	border-radius:50%;
	font-size:10px;
	position:absolute;
	left:20px;top:20px;
	transition-duration:0.2s;
	z-index:1
}

.question_item._open div:before
{
	transform: rotate(90deg);
}

.questions_container > .question_item > .question_name
{
	font-size: 24px;
	font-weight: 300;
}

.questions_container.faq-list > .question_item
{
	border-top:1px solid #dddee1;
	border-bottom:1px solid #dddee1;
	font-size:24px;
	font-weight:300;
	position:relative
}

.questions_container.faq-list > .question_item .question_item span
{
	border-bottom: 2px dotted #454647;
}

