a.select_address.selected {
	color: aquamarine;
}
.cart_elem_img, .order_product .prod_image img, .avatar img, .user_avatar, .items_for_compare .product_image {
	max-width: 80px;
}
.loader {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: none;
}
.loader span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("/images/loader.gif");
	width: 50px;
	height: 50px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
}
.add_to_wishlist.added {
	color: blueviolet;
}
.add_to_wishlist, .question_name, .search_btn, #search_user, .dialog_user, #send {
	cursor: pointer;
}
.review_popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	height: 450px;
	background-color: #f9f9f9;
}
.question_item, .question_text {
	display: none;
}
.questions_container > .question_item {
	display: block;
}
.question_item > .question_item > .question_name {
	margin-left: 10px;
}
.question_item > .question_item > .question_item > .question_name,
.question_item > .question_item > .question_text {
	margin-left: 20px;
}
.question_item > .question_item > .question_item > .question_text {
	margin-left: 30px;
}
.questions_container > .question_item.opened > .question_name {
	color: black;
	margin-left: 0;
}
.question_item.opened,
.question_text.opened {
	display: block;
}
.question_item.opened > .question_name,
.questions_container mark {
	color: #e46369;
}
.dialog_wrap {
	width: 1000px;
	height: 500px;
	border: 1px solid #222;
	margin: 30px auto;
}
.right {
	width: 70%;
	height: 100%;
}
.left {
	width: 30%;
	height: 100%;
	border-right: 1px solid #222;
}
.right, .left {
	float: left;
}
.dialog_wrap:after {
	content: '';
	clear: both;
}
.dialogs_list {
	height: 250px;
	overflow: auto;
}
.s_message {
	min-height: 18px;
}
.search_results {
	height: 40px;
}
.dialog_user {
	display: block;
}
.panel {
	display: none;
	border-bottom: 1px solid #222;
}
.message_history {
	display: none;
	height: 300px;
	border-bottom: 1px solid #222;
	overflow: auto;
}
.send_block {
	display: none;
}
.user_avatar {
	border-radius: 50%;
	border: 1px solid #222;
}

body {
	overflow-x: hidden;
}

.offcanvas, .offcanvas_edit_content,  .offcanvas_design_content, .offcanvas_settings_content {
	position: fixed;
	/*right: -400px;*/
	right: 0;
	width: 400px;
	height: 100%;
	display: none;
	box-shadow: -3px 6px 10px 0px rgba(0,0,0,0.4);
	background: #fff;
}
.offcanvas ul {
	padding: 0;
}

.menu-list:hover {
	cursor: pointer;
}

.offcanvas_content {
	position: fixed;
	/*right: -400px;*/
	right: 0;
	width: 400px;
	height: 100%;
	display: none;
	background: #fff;
}

.relative {
	position: relative;
}

.loader {
	position: relative;
	width: 100px;
	z-index: 99;
	height: 100px;
	border-radius: 50%;
	margin: 20px auto;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-perspective: 780px;
	perspective: 780px;
}

.loader-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.loader-inner.box1 {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
	-o-animation: cssload-rotate-one 1.15s linear infinite;
	-ms-animation: cssload-rotate-one 1.15s linear infinite;
	-webkit-animation: cssload-rotate-one 1.15s linear infinite;
	-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 3px solid #5C5EDC;
}

.loader-inner.box2 {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
	-o-animation: cssload-rotate-two 1.15s linear infinite;
	-ms-animation: cssload-rotate-two 1.15s linear infinite;
	-webkit-animation: cssload-rotate-two 1.15s linear infinite;
	-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 3px solid rgba(76, 70, 101, 0.99);
}

.loader-inner.box3 {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
	-o-animation: cssload-rotate-three 1.15s linear infinite;
	-ms-animation: cssload-rotate-three 1.15s linear infinite;
	-webkit-animation: cssload-rotate-three 1.15s linear infinite;
	-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 3px solid #e9908a;
}

@keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

.bg_loader {
	width: 100%;
	height: 100%;
	opacity: 1;
	background: rgba(255, 255, 255, .7);
	position: fixed;
	display: none;
	top: 0;
}

.alert_msg {
	position: fixed;
	top: 40%;
	left: 10%;
	background-color: #cfcfcf;
}
.d_message p {
	margin: 0;
}
.d_message.unread {
	background-color: #cfcfcf;
}
.dialog_with .count_unread_messages {
	display: none;
}
.props_wrap {
	display: none;
}
.ok_block {
	width: 30px;
	height: 30px;
	display: none;
	background: url("/images/ok.png") no-repeat;
	background-size: contain;
}
.prop_list_item {
	position: relative;
	width: 50px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid gray;
}
.prop_list_item.active span {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.info {
	display: inline-block;
	padding-left: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
}
.info input {
	width: 60px;
}
.over {
	overflow-y: scroll;
	max-height: 680px;
	padding: 13px;
	overflow-x: hidden;
}

/*.compare_wrap table {*/
	/*border: 1px solid #959595;*/
/*}*/
/*.compare_header {*/
	/*height: 250px;*/
/*}*/
/*.compare_wrap table tr {*/
	/*border-bottom: 1px solid #959595;*/
/*}*/
/*.compare_wrap table tr td {*/
	/*min-height: 30px;*/
/*}*/
/*.compare_wrap table {*/
	/*empty-cells: show;*/
/*}*/
/*.compare_wrap table .item_value {*/
	/*border-right: 1px solid #959595;*/
/*}*/
/*.compare_wrap .property_group {*/
	/*background-color: gray;*/
/*}*/
.item_value.property, tr.property, tr.property_group {
	height: 30px;
}
.corousel_small__cell, .product__photo {
	-webkit-background-size: contain;
	background-size: contain;
}

.ant-notification {
	font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(0,0,0,.65);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	position: fixed;
	z-index: 1010;
	width: 384px;
	max-width: calc(100vw - 32px);
	margin-right: 24px;
}
.ant-notification-notice {
	padding: 16px 24px;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.15);
	box-shadow: 0 4px 12px rgba(0,0,0,.15);
	background: #fff;
	line-height: 1.5;
	position: relative;
	margin-bottom: 16px;
	overflow: hidden;
}
.ant-notification-notice-close {
	position: absolute;
	right: 22px;
	top: 16px;
	color: rgba(0,0,0,.45);
	outline: none;
}
.ant-notification-notice-closable .ant-notification-notice-message {
	padding-right: 24px;
}
.ant-notification-notice-message {
	font-size: 16px;
	color: rgba(0,0,0,.85);
	margin-bottom: 8px;
	line-height: 24px;
	display: inline-block;
}
.ant-notification-notice-close {
	cursor: pointer;
}

.registration__wrap select {
	width: calc(100% - 165px);
	margin-right: 0 !important;
}
.help:hover + .content {
	display: block;
}
span.content {
	padding: 20px;
	position: absolute;
	box-shadow: 4px 4px 30px 1px rgba(0,0,0,0.39);
	background: #fff;
	text-align: center;
	display: none;
}
span.help {
	padding: 3px 6px;
	border: 1px solid;
	border-radius: 50px;
	margin-left: 0px;
	font-size: 10px;
}
.pagination li.catalog__pages_current a {
	color: #fff;
}
.pagination li:not(.catalog__pages_current):hover a {
	color: #454647;
}
.pagination a {
	padding: 10px;
}

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?7hiifh');
	src:  url('fonts/icomoon.eot?7hiifh#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?7hiifh') format('truetype'),
	url('fonts/icomoon.woff?7hiifh') format('woff'),
	url('fonts/icomoon.svg?7hiifh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star .path1:before {
	content: "\e912";
	color: rgb(204, 204, 204);
}
.icon-star .path2:before {
	content: "\e913";
	margin-left: -1.0712890625em;
	color: rgb(213, 214, 223);
}
.icon-settings:before {
	content: "\e911";
}
.icon-like:before {
	content: "\e900";
}
.icon-stats:before {
	content: "\e901";
}
.icon-basket:before {
	content: "\e902";
}
.icon-arrow-right:before {
	content: "\e903";
	color: #4f463d;
}
.icon-right-side:before {
	content: "\e904";
	color: #4f463d;
}
.icon-cancel:before {
	content: "\e905";
	color: #4f463d;
}
.icon-delete:before {
	content: "\e906";
	color: #4f463d;
}
.icon-smile:before {
	content: "\e907";
	color: #4f463d;
}
.icon-check:before {
	content: "\e908";
	color: #4f463d;
}
.icon-edit:before {
	content: "\e909";
	color: #4f463d;
}
.icon-search:before {
	content: "\e90a";
}
.icon-message:before {
	content: "\e90b";
	color: #4f463d;
}
.icon-left-side:before {
	content: "\e90c";
	color: #4f463d;
}
.icon-column:before {
	content: "\e90d";
	color: #4f463d;
}
.icon-plates:before {
	content: "\e90e";
	color: #4f463d;
}
.icon-delivery:before {
	content: "\e90f";
	color: #4f463d;
}
.icon-gps:before {
	content: "\e910";
	color: #4f463d;
}
.rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}



.ant-notification-notice-with-icon .ant-notification-notice-description {
	margin-left: 48px;
	font-size: 14px;
}
.anticon svg {
	display: inline-block;
}

svg:not(:root) {
	overflow: hidden;
}

.ant-notification-notice-icon-success svg {
	color: #52c41a !important;
	font-size: 24px !important;
	line-height: 24px !important;
	margin-left: 4px !important;
	fill: #52c41a ;
}
.ant-notification-notice-icon-info svg {
	color: #1890ff !important;
	font-size: 24px !important;
	line-height: 24px !important;
	margin-left: 4px !important;
	fill: #1890ff ;
}
.ant-notification-notice-icon-warning svg {
	color: #faad14 !important;
	font-size: 24px !important;
	line-height: 24px !important;
	margin-left: 4px !important;
	fill: #faad14 ;
}
.ant-notification-notice-icon-error svg {
	color: #f5222d !important;
	font-size: 24px !important;
	line-height: 24px !important;
	margin-left: 4px !important;
	fill: #f5222d ;
}

.anticon {
	display: inline-block;
	font-style: normal;
	vertical-align: -0.125em;
	text-align: center;
	text-transform: none;
	line-height: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
.ant-notification-notice-with-icon .ant-notification-notice-message {
	font-size: 16px;
	margin-left: 48px;
	margin-bottom: 4px;
}
.anticon.anticon-close.ant-notification-close-icon {

}

.wishlist_active {
	background: #d94140 !important;
	color: #fff !important;
}
.compare_active {
	background: #d94140 !important;
	color: #fff !important;
}
.wishlist_active i {
	background: #d94140 !important;
	color: #fff !important;
}
.compare_active i {
	background: #d94140 !important;
	color: #fff !important;
}
.ordering .ordering-cont .payment .total .discount-price span {
	font-size: 16px;
	color: #3f9117;
	font-weight: 400;
	margin-left: 66px;
}
.ordering .ordering-cont .payment .total .discount-price {
	padding: 5px 0 0 29px;
	font-size: 16px;
	font-weight: 400;
}